@font-face { 
	font-family: 'Metric'; 
	src: url('fonts/MetricHPE-Web-Regular.eot'); 
	src: url('fonts/MetricHPE-Web-Regular.eot?#iefix') format('embedded-opentype'), 
		  url('fonts/MetricHPE-Web-Regular.woff') 	format('woff');	
	font-weight: normal;
	font-style:normal;
	} 

@font-face { 
	font-family: 'Metric Bold'; 
	src: url('fonts/MetricHPE-Web-Bold.eot'); 
	src: url('fonts/MetricHPE-Web-Bold.eot?#iefix') format('embedded-opentype'), 
		url('fonts/MetricHPE-Web-Bold.woff') 	format('woff');	
	font-weight: normal;
	font-style:normal;	
	} 

@font-face { 
	font-family: 'Metric Semibold'; 
	src: url('fonts/MetricHPE-Web-Semibold.eot'); 
	src: url('fonts/MMetricHPE-Web-Semibold?#iefix') format('embedded-opentype'), 
		url('fonts/MetricHPE-Web-Semibold.woff') 	format('woff');	
	font-weight: normal;
	font-style:normal;		
	} 

@font-face { 
	font-family: 'Metric Light'; 
	src: url('fonts/MetricHPE-Web-Light.eot'); 
	src: url('fonts/MetricHPE-Web-Light?#iefix') format('embedded-opentype'), 
		url('fonts/MetricHPE-Web-Light.woff') 	format('woff');	
	font-weight: normal;
	font-style:normal;		
	font-weight: 100; 
	} 


@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('fonts/glyphicons-halflings-regular.eot');
	src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
	url('fonts/glyphicons-halflings-regular.woff') format('woff'), 
	url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), 
	url('fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
	}

.glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-moz-osx-font-smoothing: grayscale;
	}

/*
@font-face { 
	font-family: 'YourWebFontName'; 
	src: url('YourWebFontName.eot'); // IE9 Compat Modes
	src: url('YourWebFontName.eot?#iefix') format('embedded-opentype'); /* IE6-IE8 
	src: url('YourWebFontName.woff') format('woff'); /* Modern Browsers 
	src: url('YourWebFontName.ttf') format('truetype'); /* Safari, Android, iOS 
	src: url('YourWebFontName.svg#YourWebFontName') format('svg'); /* Legacy iOS 
	}
*/

/*
@font-face{
	font-family:Metric;
	src:url("https://hpefonts.s3.amazonaws.com/web/MetricHPE-Web-Regular.woff") 
	format("woff")}
@font-face{
	font-family:Metric;
	src:url("https://hpefonts.s3.amazonaws.com/web/MetricHPE-Web-Bold.woff") 
	format("woff");font-weight:700}
@font-face{
	font-family:Metric;
	src:url("https://hpefonts.s3.amazonaws.com/web/MetricHPE-Web-Semibold.woff") 
	format("woff");font-weight:600}
@font-face{
	font-family:Metric;
	src:url("https://hpefonts.s3.amazonaws.com/web/MetricHPE-Web-Light.woff") 
	format("woff");font-weight:100}
	*/