.header{
	/*position: absolute;*/
	z-index: 999;
	width: 100%;
	min-height: 55px;
}
.header-title {
    font-size: 16px;
    padding-left: 100px;
}
.navbar {
    min-height: 55px;
    margin-bottom: 0;
    padding: 15px 0;
   	position: absolute;
    width: 100%;
    background: -moz-linear-gradient(top,rgba(66,85,99,.93) 0,rgba(66,85,99,.93) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(66,85,99,.93)),color-stop(100%,rgba(66,85,99,.93)));
    background: -webkit-linear-gradient(top,rgba(66,85,99,.93) 0,rgba(66,85,99,.93) 100%);
    background: -o-linear-gradient(top,rgba(66,85,99,.93) 0,rgba(66,85,99,.93) 100%);
    background: -ms-linear-gradient(top,rgba(66,85,99,.93) 0,rgba(66,85,99,.93) 100%);
    background: linear-gradient(to bottom,rgba(66,85,99,.93) 0,rgba(66,85,99,.93) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#425563', endColorstr='#425563', GradientType=0);
    background-color: #425563;    
    border-radius: 0;
    border: 0;
}
.navbar-collapse.collapse{text-align: center;}
.navbar-nav{float: none;display: inline-block;}
.navbar-default .navbar-nav>li>a{color: #C6C9CA}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{color: #fff}
.navbar-nav-right{
    display: inline-block;
	float: right;
    margin: 0;
    list-style: none;
    padding: 0;
}
.container-gutter {
    padding-bottom: 30px;
}


@media screen and (min-width: 1200px){
	.container-gutter{
	    padding-left:100px;
	    padding-right:100px;
	}
}
@media (max-width: 768px){
    .navbar-nav{
        float: left!important;
        clear: both;
        text-align: left;
        margin:0 -15px;
    }
}

.style-bg-dark-steel {
    background-color: #5F7A76;
}
.style-bg-purple {
	background-color: #614767;
}
.style-bg-bronze {
    background-color: #80746E;
}
.style-bg-slate {
    background-color: #425563;
}
.mask-overlay{
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}
.img-container {
    position: relative;
    background-size: 40px;
    -moz-box-shadow: inset 1px 1px 0 0 #eee,inset -1px -1px 0 0 #eee;
    -webkit-box-shadow: inset 1px 1px 0 0 #eee,inset -1px -1px 0 0 #eee;
    box-shadow: inset 1px 1px 0 0 #eee,inset -1px -1px 0 0 #eee;
}

.page-content {
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px; 
}

.main-banner{
    position: relative;
    min-height: 460px;
    text-align: center;
}
.main-banner .content-wrapper {
    z-index: 5;
    position: absolute;
    width: 100%;
    max-width: 810px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.main-banner .content-wrapper .content{
    padding:168px 20px 55px;
    color: #fff
}
.main-banner .content .title{
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 60px;
    font-family: 'Metric Semibold', Arial, sans-serif;
    line-height: 55px    
}
.main-banner .content .description{
    font-family: 'Metric Light', Arial, sans-serif;
    font-size: 23px
}
.main-banner .mask-overlay {
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,.7)));
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,0) 10%,rgba(0,0,0,.7) 100%);
    background-image: -o-linear-gradient(top,rgba(0,0,0,0) 10%,rgba(0,0,0,.7) 100%);
    background-image: -moz-linear-gradient(top,rgba(0,0,0,0) 10%,rgba(0,0,0,.7) 100%);
    background-image: -ms-linear-gradient(top,rgba(0,0,0,0) 10%,rgba(0,0,0,.7) 100%);
    background-image: linear-gradient(to bottom,rgba(0,0,0,0) 10%,rgba(0,0,0,.7) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#b3000000', GradientType=0);
}
.main-banner .background-wrapper {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}
.main-banner .background-wrapper .img-container{
    height: 100%;
    top:0px;
}
.main-banner .background-wrapper  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}
.main-data-center{
    padding:60px 0;
    overflow: hidden;
}
.text-content-wrap {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: 'Metric Blod', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    color: #656565;
}
.text-content-wrap h2 {
    font-size: 36px;
    margin-top: 0;
}
.hybrid-router-tiles{
    display: table;
}
.hybrid-router-tile {
    /*width: 33.33333333%;*/
    width: 16.66666666%;    
    position: relative;
    min-height: 1px;
    padding: 0;
    cursor: pointer;
    display: table-cell;
    table-layout: fixed;
    vertical-align: top;
    border: 4px solid #fff;
    padding-top: 8px;
}
.hybrid-router-tile:hover{text-decoration: none;}
.hybrid-router{padding-top: 60px;}
.hybrid-router-mask {
    display: block;
    position: absolute;
    top: 0;
    right: 4px;
    bottom: 8px;
    left: 4px;
    background-color: #fff;
    z-index: 5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
}
.hybrid-router-tile-copy{color: #fff}
.hybrid-router-tile-copy h3 {
    font-size: 20px;
    line-height: 110%;
    margin:0;
}
.hybrid-router-tile-image img {
    width: 100%;
}
@media screen and (min-width: 992px){
    .hybrid-router-tile-copy {
        padding: 13px 15px 15px;
    }
}
@media screen and (min-width: 768px){
    .hybrid-router-header {
        max-width: 80%;
        margin-bottom: 50px;
    }
    .hybrid-router-tile-copy {
        padding: 13px 10px 10px;
    }
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: #2f3342;
    background-color: #fafbfc;
}

.contra-objective {
    line-height: 30px;
    margin: 15px 0;
}