<link rel="stylesheet" href="styles/landing.css"/>

<!-- Add your site or application content here -->
<header class="header">
  <div class="navbar navbar-default " role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="page-content" id="js-navbar-collapse">
      <a class="navbar-brand" href="#/">
        <img src="images/HPE_logo.png" />
      </a>
      <ul class="nav navbar-nav header-title">
        <li>
          <a href="#/">Home</a>
        </li>
        <li>
          <a ng-href="#/promolist">No-Touch Startegy</a>
        </li>
        <li>
          <a ng-href="#/">Governance</a>
        </li>
        <li>
          <a ng-href="#/">Policies</a>
        </li>               
      </ul>
      <ul class="nav navbar-nav navbar-nav-right">
        <li>
          <a href="#" title=""> <i class="fa fa-user"></i>
            <span>Jason Zhang</span>
          </a>
        </li>
        <li>
          <a href="#/login" title=""> <i class="fa fa-sign-out"></i>
            Log Out
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>

<div class="page-content">
  <section class="main-data-center">
    <div class="text-content-wrap">
      <img src="images/droid.png">      
      <p class="subTitle">
        No-Touch Planning & Performance Management
      </p>
    </div>

    <div class="row text-center">
      <div class="col-sm-4 col-md-2 tipbox">
        <label class="default"><a href="" class="module-title">Budgeting & Planning</a></label>
        <a href=""><img src="images/temp/chart5.png" class="img-responsive" /></a>
        <label class="module-special-disable">Module 1</label>
        <p>Establish regional and country level financial plans</p>   
      </div>

      <div class="col-sm-4 col-md-2 tipbox">
        <label class="default"><a href="" class="module-title">Contra Performance</a></label>
        <a href=""><img src="images/temp/chart3.png" class="img-responsive" /></a>
        <label class="module-special"><a href="">Module 2</a></label>
        <p>Review historical no-touch performance & select SKUs</p>  
      </div>

      <div class="col-sm-4 col-md-2 tipbox">
        <label class="default"><a href="">Competitive Pricing</a></label>
        <a href=""><img src="images/temp/chart1.png" class="img-responsive" /></a>
        <label class="module-special"><a href="">Module 3</a></label>
        <p>Compare HPE vs. Competitor street prices & trends</p>  
      </div>

      <div class="col-sm-4 col-md-2 tipbox">
        <label class="default"><a href="#/promolist">ROI Analysis</a></label>
        <a href="#/promolist"><img src="images/temp/chart6.png" class="img-responsive" /></a> 
        <label class="module-special"><a href="#/promolist">Module 4</a></label>
        <p>Design effective no-touch pricing plans of record (PoR)</p>   
      </div>

      <div class="col-sm-4 col-md-2 tipbox">
        <label class="default"><a href="">Execute Campaign</a></label>
        <a href=""><img src="images/temp/chart2.png" class="img-responsive" /></a>
        <label class="module-special-disable">Module 5</label>
        <p>Review approved plans & upload deals into Eclipse</p>  
      </div>

      <div class="col-sm-4 col-md-2 tipbox">
        <label class="default"><a href="">Weekly Tracking</a></label>
        <a href=""><img src="images/temp/chart4.png" class="img-responsive" /></a>
        <label class="module-special"><a href="">Module 6</a></label>
        <p>Track actual no-touch sellout performance against plan</p>             
      </div>                     
    </div>
  </section>

  <section class="main-data-center">
    <div class="text-content-wrap">
      <h2>Contra Program Objectives</h2>
      <p class="subTitle">
        Improve net contra productivity to accelerate revenue and gross profit growth
      </p>
    </div>

    <div class="col-md-6">
      <img src="images/temp/l1.png" class="img-responsive" />
    </div>

    <div class="col-md-6">
      <ul class="contra-objective">
        <li><i class="fa fa-arrow-circle-right iconPadding5" aria-hidden="true"></i>Optimize how HP invests contra within/across geographies & categories to maximize ROI</li>
        <li><i class="fa fa-arrow-circle-right iconPadding5" aria-hidden="true"></i>Provide contra decision makers with timely analytics & tools to make trade-offs</li>
        <li><i class="fa fa-arrow-circle-right iconPadding5" aria-hidden="true"></i>Develop a robust operating system (i.e., metrics, dashboards, analytics)</li>
        <li><i class="fa fa-arrow-circle-right iconPadding5" aria-hidden="true"></i>Simplify processes - make it easier for customers and partners to grow with HPE</li>
        <li><i class="fa fa-arrow-circle-right iconPadding5" aria-hidden="true"></i>Define and transition to a simpler future state process & systems architecture</li>
        <li><i class="fa fa-arrow-circle-right iconPadding5" aria-hidden="true"></i>Structure contra compliance & auditing processes to minimize contra leakage</li>
      </ul>
    </div>
  </section>
</div>

<footer>
  <div class="page-content">
    <p>
      <a href="#/" title="">Privacy Statement</a>
      <span class="lr-padding5">|</span>
      <a href="#/" title="">Terms of Use</a>
      <span class="lr-padding5">|</span>
      <a href="#/" title="">Support</a>
      <span class="lr-padding5">|</span>
      <a href="#/" title="">Contra v1.0</a>
      <span class="lr-padding5">|</span>
      <a href="#/" title="">HP Enterprise Restricted</a>
    </p>
    <p>© Copyright 2016 Hewlett Packard Enterprise Development LP</p>
  </div>
</footer>